body{
    background-color: rgb(161, 255, 255);
}

main{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    width: 300px;
}

p{
    color: white;
    background-color: blue;
    padding: 10px 10px 10px 20px;
    margin-bottom: 0px;
    width: 300px;
}

input{
    font-size: medium;
    padding: 15px;
    border-width: 2px;
    margin-bottom: 0px;
    width: 297px;   
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  margin-bottom: 0px;
}